table tbody tr:last-child {
  border-bottom: white;
}
table thead tr th:last-child {
  text-align: right;
}
.table-title {
  /* text-align: right; */
  font-size: 14px;
  font-weight: 400;
  color: #282b31;
}
