<!--
  Purpose: This is the main template file for our Angular app
  
  What it does:
  - This special tag <router-outlet> works like a "window" or "container"
  - It shows different pages of our app depending on which page we want to see
  - For example: when we click on "Home", it shows the home page here
                 when we click on "About", it shows the about page here
  
  Think of it like:
  - A TV screen that can show different channels
  - The <router-outlet> is the screen
  - Different pages are like different TV channels
-->

<router-outlet></router-outlet>